
{% extends "panel::layouts.dashboard" %}


{% block content %}


<form action="{{ route('panel.updateContact',cat['id']) }}" method="post">

<input type="hidden" name="_token" value="{{ csrf_token() }}">






  <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">دسته بندی جدید</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <form>

                                          <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">عنوان</label>
                          <input type="text" name="title" required class="form-control" value="{{ cat['title'] }}">
                        </div>
                      </div>
                      </div>

                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">توضیحات</label>
                          <input type="text" name="description" required class="form-control" value="{{ cat['description'] }}">
                        </div>
                      </div>
                      </div>

                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">ایمیل</label>
                          <input type="text" name="email" class="form-control" value="{{ cat['email'] }}">
                        </div>
                      </div>
                      </div>

                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">شماره تلفن</label>
                          <input type="text" name="phone" class="form-control" value="{{ cat['phone'] }}">
                        </div>
                      </div>
                      </div>
                      

                      <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">نام</label>
                          <input type="text" name="name" required class="form-control" value="{{ cat['name'] }}">
                        </div>
                      </div>
                      </div>


                       <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">پاسخ شما</label>
                          <input type="text" name="reply_msg" required class="form-control" value="">
                        </div>
                      </div>
                      </div>
                      
                     

                    </div>
                   
                    <a href="{{ route('panel.getContact') }}" class="btn btn-secondary">برگشت</a>
        <input class="btn btn-primary" type="submit" value="درج">
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>


        
    {{ form_close() }}
{% endblock %}


