<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div id="colorlib-logo"><a href="index.html">BornaPlus</a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<!--<li class="has-dropdown">
									<a href="classes.html">اخبرا</a>
									<ul class="dropdown">
										<li><a href="classes-single.html">test</a></li>
										<li><a href="#">Cardio Classes</a></li>
										<li><a href="#">Muscle Classes</a></li>
										<li><a href="#">Fitness Classes</a></li>
										<li><a href="#">Body Building</a></li>
									</ul>
								</li>-->
								<li class="{{ index_active }}"><a href="/">صفحه اصلی</a></li>
								<li class="{{ news_active }}"><a href="/news">اخبار</a></li>
								<li class="{{ kms_active }}"><a href="/kms">آموزش ها</a></li>
								<li class="{{ price_active }}"><a href="/price">قیمت های بازار</a></li>
								<li class="{{ aboutus_active }}"><a href="/aboutus">درباره ما</a></li>
								<li class="{{ contactus_active }}"><a href="/contactus">تماس با ما</a></li>
								<!--<li class="btn-cta"><a href="#"><span><i class="icon-cart"></i></span></a></li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>