<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-md-2">
							<div id="colorlib-logo"><a href="/">BornaPlus</a></div>
						</div>
						<div class="col-md-10 text-right menu-1">
							<ul>
								<!--<li class="has-dropdown">
									<a href="classes.html">اخبرا</a>
									<ul class="dropdown">
										<li><a href="classes-single.html">test</a></li>
										<li><a href="#">Cardio Classes</a></li>
										<li><a href="#">Muscle Classes</a></li>
										<li><a href="#">Fitness Classes</a></li>
										<li><a href="#">Body Building</a></li>
									</ul>
								</li>-->
								<li class="{{ index_active }}"><a href="/">صفحه اصلی</a></li>
								<li class="{{ news_active }}"><a href="/news">اخبار</a></li>
								<li class="{{ kms_active }}"><a href="/kms">آموزش ها</a></li>
								<li class="{{ price_active }}"><a href="/price">قیمت های بازار</a></li>
								<li class="{{ aboutus_active }}"><a href="/aboutus">درباره ما</a></li>
								<li class="{{ contactus_active }}"><a href="/contactus">تماس با ما</a></li>
								{% if auth_user().hasAnyRole(['admin', 'moderator']) %}
				                    <li class="nav-item"><a class="nav-link text-s" href="/panel/dashboard" target="_blank"><i class="mdi mdi-settings-outline mr-1" aria-hidden="true"></i></a></li>
				                    
				                {% endif %}
								{% if auth_user() %}
									<li class=""><a href="/account/edit_profile"><i class="icon-user-tie"></i></a></li>

		                            <li class=""><a href="{{ route('logout') }}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><i class="icon-exit"></i></a></li>

		                            
					               <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
					                   {{ csrf_field() }}
					               </form>

		                        {% else %}
		                        	<li class=""><a href="/login"><i class="icon-user-tie"></i></a></li>
		                        {% endif %}
								
								<!--<li class="btn-cta"><a href="#"><span><i class="icon-cart"></i></span></a></li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>