


{% extends "panel::layouts.dashboard" %}


{% block content %}



<form action="{{ route('panel.updateProductPrice',product['id']) }}" method="post">

<input type="hidden" name="_token" value="{{ csrf_token() }}">




  <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">ویرایش محصول</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <form>

                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">حداقل</label>
                          <input type="text" name="min" class="form-control" required value="{{ product['min'] }}">

                        </div>

                        
        
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">حداکثر</label>
                          <input type="text" name="max" class="form-control" required value="{{ product['max'] }}">

                        </div>

                        
        
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                        <label class="bmd-label-floating">دسته بندی</label>
                            
    <select id="product_id" name="product_id">

                  {% for cat in categories %}
  {% if cat['id']==product['product_id'] %}
         <option selected="selected" value="{{ cat['id'] }}">{{ cat['name'] }}</option>
    
    {% else %}
         <option value="{{ cat['id'] }}">{{ cat['name'] }}</option>
    {% endif %}

  

                

             {% endfor %}
</select>


                        </div>
                      </div>

                    </div>
                   
                    <a href="{{ route('panel.getProductPrice') }}" class="btn btn-secondary">برگشت</a>
        <input class="btn btn-primary" type="submit" value="بروز رسانی">
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>



        
    {{ form_close() }}
{% endblock %}


   



