


{% extends "panel::layouts.dashboard" %}


{% block content %}


  <form action="{{ route('panel.updateAbout',str_slug(about['title'],"-")) }}" method="post" enctype="multipart/form-data">


<input type="hidden" name="_token" value="{{ csrf_token() }}">
<input type="hidden" name="old_title" value="{{ post['title'] }}">
<input type="hidden" name="posted_at" value="{{ post['posted_at'] }}">











  <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">درباره ما</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
                  <form>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">عنوان</label>
                          <input type="text" name="title" required class="form-control" value="{{ about['title'] }}">
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">عکس اصلی</label>
                          <button md-mini-fab type="button" onclick="document.getElementById('image').click()">
  <label for="image"><md-icon>add</md-icon></label>
</button>
<input type="file" name="image" id="image" style="display:none;">
           <img src="{{ about['thumb_thumbnail_url'] }}" />               
                        </div>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>متن اصلی</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"> </label>
                            <textarea name="post-ckeditor" required class="form-control" id="post-ckeditor">
                            {{ about['description'] }}
                            </textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a href="{{ route('panel.getAbout') }}" class="btn btn-secondary">برگشت</a>
        <input class="btn btn-primary" type="submit" value="درج">
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>



        
    {{ form_close() }}
{% endblock %}